TYPEORM_CONNECTION = postgres
TYPEORM_HOST = localhost
TYPEORM_USERNAME = postgres
TYPEORM_PASSWORD = postgres
TYPEORM_DATABASE = pocket
TYPEORM_PORT = 5435
TYPEORM_MIGRATIONS = src/shared/typeorm/migrations/*.ts
TYPEORM_MIGRATIONS_DIR = src/shared/typeorm/migrations
TYPEORM_ENTITIES = src/modules/**/typeorm/entities/*.ts
TYPEORM_ENTITIES_DIR = src/modules/**/typeorm/entities
API_PORT = 3333
IP_EXTERNO = 192.168.100.117